body{
    margin:0;
    overflow:hidden;
    font-family:Arial,sans-serif;
    background:#000;
}

.hero-bg{
    width:100%;
    height:100vh;
    background:linear-gradient(-45deg,
        #000000,
        #330000,
        #8b0000,
        #000000);
    background-size:400% 400%;
    animation:bgMove 10s ease infinite;
    display:flex;
    justify-content:center;
    align-items:center;
}

.overlay{
    text-align:center;
}

.overlay h1{
    color:#ff0000;
    font-size:45px;
    font-weight:900;
    text-shadow:0 0 20px #ff0000;
    animation:glow 2s infinite alternate;
}

.start-btn{
    margin-top:40px;
    width:220px;
    height:60px;
    border:none;
    border-radius:40px;
    background:linear-gradient(45deg,#ff0000,#8b0000);
    color:white;
    font-size:22px;
    font-weight:bold;
    cursor:pointer;
    box-shadow:0 0 20px #ff0000;
    transition:.2s;
}

.start-btn:hover{
    transform:scale(1.05);
}

.start-btn:active{
    transform:scale(.95);
}

@keyframes bgMove{
    0%{background-position:0% 50%;}
    50%{background-position:100% 50%;}
    100%{background-position:0% 50%;}
}

@keyframes glow{
    from{
        text-shadow:0 0 10px #ff0000;
    }
    to{
        text-shadow:0 0 30px #ff0000,
                    0 0 60px #ff3333;
    }
        }
